<div class="modal-header">
	<h3 class="modal-title" id="myModalLabel"><% if station!=nil %><%= station['stop_name'] + " - " + line_name %><% end %></h3>
</div>
<div class="modal-body">
	
	
			<h4>Wheelchair accessible station? 
			<% if station['wheelchair_boarding'] %>Yes
			<h4>Elevator outage* history - last 30 days</h4>
			<% if outageHistory.size > 0 %>
			<script src="/js/d3/d3.min.js"></script>
			<script src="/js/d3.tip.js"></script>
			<script src="/js/outages.js"></script>
			<div id="chart"></div>
			<script type="application/javascript">
			renderOutageChart([
			<% outageHistory.each do | outage | %>
			{
				outageStart : new Date("<%= outage['_id']['outageStart'].to_datetime %>"),
				outageEnd: <% if !outage['outageEnd'] %>null<% else %>new Date("<%= outage['outageEnd'].to_datetime %>")<% end %>
			},
			<% end %>
			]);
			</script>
			<% else %>
			<div><p>No recent outages found</p></div>
			<% end %>
			<p>* Data based on start/end time of operator's online elevator outage notifications.</p>
			<% else %>No<% end %>
			<div><% if station_content && station_content['videoForEmbed'] %>
				<h4>Video</h4>
				<iframe width="560" height="315" src="<%= station_content['videoForEmbed'] %>" frameborder="0" allowfullscreen></iframe>
				<% if station_content && station_content['videoCredit'] %><h6>Credit: <%= station_content['videoCredit'] %></h6><% end %>
			<% end %></div>
		
</div>
<div id="disqus_thread"></div>
						<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'unlockphilly';
							// required: replace example with your forum shortname

							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
								var dsq = document.createElement('script');
								dsq.type = 'text/javascript';
								dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>
							Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
						</noscript>
						<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

					</div>