<div class="modal-header">
	<h3 class="modal-title" id="myModalLabel"><% if station!=nil %><%= station['stop_name'] + " - " + line_name %><% end %></h3>
</div>
<div class="modal-body">
	
	
	
			<% if station['wheelchair_boarding'] %>
				
				<% if activeOutage %><h4><span class="label large label-danger">Elevator outage reported</h4></span> 
					<% if line_name.include? "SEPTA" %>Tweet SEPTA_SOCIAL for help or see SEPTA elevator advice page at <a target='_blank' href='http://www3.septa.org/elevators/'>http://www3.septa.org/elevators/</a>
					<br/>
					<a href="https://twitter.com/intent/tweet?screen_name=septa_social&text=@unlockphilly %23accessibility <%= station['stop_name'] %>" class="twitter-mention-button spacer-small">Tweet @septa</a>
									<script>
										! function(d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
											if (!d.getElementById(id)) {
												js = d.createElement(s);
												js.id = id;
												js.src = p + '://platform.twitter.com/widgets.js';
												fjs.parentNode.insertBefore(js, fjs);
											}
										}(document, 'script', 'twitter-wjs');
									</script>
					<% end %>
		    	<% else %><h4><span class="label label-success">Wheelchair accessible station</h4></span>
		    	<% if line_name.include? "SEPTA" %>Tweet SEPTA_SOCIAL if you see an outage or accessibility problem. For SEPTA elevator outage advice page see <a target='_blank' href='http://www3.septa.org/elevators/'>http://www3.septa.org/elevators/</a>
					<br/>
					<a href="https://twitter.com/intent/tweet?screen_name=septa_social&text=@unlockphilly %23accessibility <%= station['stop_name'] %>" class="twitter-mention-button spacer-small">Tweet @septa</a>
									<script>
										! function(d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
											if (!d.getElementById(id)) {
												js = d.createElement(s);
												js.id = id;
												js.src = p + '://platform.twitter.com/widgets.js';
												fjs.parentNode.insertBefore(js, fjs);
											}
										}(document, 'script', 'twitter-wjs');
									</script>
				<% elsif line_name.include? "PATCO" %>For PATCO elevator outage advice page see <a target='_blank' href='http://www.ridepatco.org/schedules/alerts.asp'>http://www.ridepatco.org/schedules/alerts.asp</a>
					<br/>
					<a href="https://twitter.com/intent/tweet?screen_name=RidePATCO&text=@unlockphilly %23accessibility <%= station['stop_name'] %>" class="twitter-mention-button">Tweet @RidePATCO</a>
									<script>
										! function(d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
											if (!d.getElementById(id)) {
												js = d.createElement(s);
												js.id = id;
												js.src = p + '://platform.twitter.com/widgets.js';
												fjs.parentNode.insertBefore(js, fjs);
											}
										}(document, 'script', 'twitter-wjs');
									</script>				
			       <% end %>
		    	<% end %>
			
			<h4>Elevator outages* <% if station %>at <%= station['stop_name'] %><% end %> - last 30 days</h4>
			<% if outageHistory.size > 0 %>
			<script src="/js/d3/d3.min.js"></script>
			<script src="/js/d3.tip.js"></script>
			<script src="/js/outages.js"></script>
			<div id="chart"></div>
			<script type="application/javascript">
			renderOutageChart([
			<% outageHistory.each do | outage | %>
			{
				outageStart : new Date("<%= outage['_id']['outageStart'].to_datetime %>"),
				outageEnd: <% if !outage['outageEnd'] %>null<% else %>new Date("<%= outage['outageEnd'].to_datetime %>")<% end %>
			},
			<% end %>
			]);
			</script>
			<% else %>
			<div><p>No recent outages found</p></div>
			<% end %>
			<p>* Data based on start/end time of operator's online elevator outage notifications.</p>
			<% else %>
				<h4><span class="label large label-danger">Not wheelchair accessible</h4>
				Leave comments below about <% if station %><%= station['stop_name'] %><% end %>.
			<% end %>
			<div><% if station_content && station_content['videoForEmbed'] %>
				<h4>Video</h4>
				<iframe width="560" height="315" src="<%= station_content['videoForEmbed'] %>" frameborder="0" allowfullscreen></iframe>
				<% if station_content && station_content['videoCredit'] %><h6>Credit: <%= station_content['videoCredit'] %></h6><% end %>
			<% end %></div>
		
</div>
<div id="disqus_thread"></div>
						<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'unlockphilly';
							// required: replace example with your forum shortname

							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
								var dsq = document.createElement('script');
								dsq.type = 'text/javascript';
								dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>
							Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
						</noscript>
						<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

					</div>