<div>
	<h3 id="myModalLabel"><% if station!=nil %><%= station['stop_name'] + " - " + line_name %><% end %></h3>
	<h4><a href='/'>Back to All Stations</a></h4>
</div>
<div class="modal-body">
<script src="/js/d3/d3.min.js"></script>
<script src="/js/d3.tip.js"></script>
<script type="application/javascript">
			var mapboxId = '<%= @mapbox_id %>';
			var startLat = '<%= station['stop_lat']; %>';
			var startLon = '<%= station['stop_lon'] %>';
			var isMini = true;
		</script>
		<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.3/leaflet.fullscreen.css' rel='stylesheet' />
		<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css' rel='stylesheet' />
				
	
	
	
			<% if station['wheelchair_boarding'] %>
				
				<% if active_outage %><h4>
					<span class="label large label-danger">Elevator outage reported</h4></span> 
					<% if line_name.include? "SEPTA" %>Tweet SEPTA_SOCIAL for help or see SEPTA elevator advice page at <a target='_blank' href='http://www3.septa.org/elevators/'>http://www3.septa.org/elevators/</a>
					<br/>
					<a href="https://twitter.com/intent/tweet?screen_name=septa_social&text=@unlockphilly %23accessibility <%= station['stop_name'] %>" class="twitter-mention-button spacer-small">Tweet @septa</a>
									<script>
										! function(d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
											if (!d.getElementById(id)) {
												js = d.createElement(s);
												js.id = id;
												js.src = p + '://platform.twitter.com/widgets.js';
												fjs.parentNode.insertBefore(js, fjs);
											}
										}(document, 'script', 'twitter-wjs');
									</script>
					<% end %>
		    	<% else %><h4><span class="label label-success">Wheelchair accessible station with no active elevator outage reported</h4></span>
		    	<% if line_name.include? "SEPTA" %>Tweet SEPTA_SOCIAL if you see an outage or accessibility problem.<br />For SEPTA elevator outage advice page see <a target='_blank' href='http://www3.septa.org/elevators/'>http://www3.septa.org/elevators/</a>
					<br/>
					<a href="https://twitter.com/intent/tweet?screen_name=septa_social&text=@unlockphilly %23accessibility <%= station['stop_name'] %>" class="twitter-mention-button spacer-small">Tweet @septa</a>
									<script>
										! function(d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
											if (!d.getElementById(id)) {
												js = d.createElement(s);
												js.id = id;
												js.src = p + '://platform.twitter.com/widgets.js';
												fjs.parentNode.insertBefore(js, fjs);
											}
										}(document, 'script', 'twitter-wjs');
									</script>
				<% elsif line_name.include? "PATCO" %>For PATCO elevator outage advice page see <a target='_blank' href='http://www.ridepatco.org/schedules/alerts.asp'>http://www.ridepatco.org/schedules/alerts.asp</a>
					<br/>
					<a href="https://twitter.com/intent/tweet?screen_name=RidePATCO&text=@unlockphilly %23accessibility <%= station['stop_name'] %>" class="twitter-mention-button">Tweet @RidePATCO</a>
									<script>
										! function(d, s, id) {
											var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
											if (!d.getElementById(id)) {
												js = d.createElement(s);
												js.id = id;
												js.src = p + '://platform.twitter.com/widgets.js';
												fjs.parentNode.insertBefore(js, fjs);
											}
										}(document, 'script', 'twitter-wjs');
									</script>				
			       <% end %>
		    	<% end %>
			<div class="row">
				<div class="col-md-6">
					<div class="minimap" id="map"></div>
				</div>
			</div>
			<h4>Recent elevator outages* <% if station %>at <%= station['stop_name'] %><% end %></h4>
			<p id="recentOutageDescription">Some info about recent outages.</p>
			<% if outageHistory.size > 0 %>
				<script src="/js/outages.js"></script>
				<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
			    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
				<div id="chart" aria-hidden="true"></div>
				<script type="application/javascript">
				renderOutageChart([
					<% outageHistory.each do | outage | %>
					{
						outageStart : new Date("<%= outage['_id']['outageStart'].to_datetime %>"),
						outageEnd: <% if !outage['outageEnd'] %>null<% else %>new Date("<%= outage['outageEnd'].to_datetime %>")<% end %>
					},
				    <% end %>
			    ]);
			    </script>
			<% else %>
				<div><p>No recent outages found</p></div>
			<% end %>
			<hr>
			<h4>Elevator outage* days over last 12 months at <% if station %>at <%= station['stop_name'] %><% end %></h5>
			<p id="monthlyOutageDescription">Some info about the last 12 months of outages.</p>
			<script type="text/javascript" src='/js/monthgraph.js'>
    		</script>
			<script>
			    var monthlyOutages = [];
			    $.get("/septa/elevator/outagedayslast12months/<%= station['_id'] %>", function( outageData ) {
  					$.each(outageData, function( index, value ) {
  						monthlyOutages.push({ "month" : value.month, "days" : value.outageDays})
  					});
  					d3.select("#recentOutageDescription").text(describeRecentOutages(monthlyOutages));
  					d3.select("#monthlyOutageDescription").text(describeMonthlyOutages(monthlyOutages, '<%= station['stop_name'] %>'));
  					monthlyOutages.push({"month":"1900-01", "days":0});
  					renderMonthGraph(monthlyOutages);
				});
			    
			</script>
			<div id="monthgraph" aria-hidden="true"></div>
    		
			
			
			<p>* Data based on start/end time of operator's online elevator outage notifications.</p>
			
			
			<% else %>
				<h4><span class="label large label-danger">Not wheelchair accessible</h4>
				<div class="row">
					<div class="col-md-6">
						<div class="minimap" id="map"></div>
					</div>
				</div>
			<% end %>
			<div><% if station_content && station_content['videoForEmbed'] %>
				<h4>Video</h4>
				<iframe width="560" height="315" src="<%= station_content['videoForEmbed'] %>" frameborder="0" allowfullscreen></iframe>
				<% if station_content && station_content['videoCredit'] %><h6>Credit: <%= station_content['videoCredit'] %></h6><% end %>
			<% end %></div>
		
</div>
